body
{
    width: 1000px;
    height: 1310px;
}

header
{
    display: flex;
    margin: 22px 53px;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.tel
{
    font-family: Arial, sans-serif;
    margin: 3px 2px;
    letter-spacing: 1.5px;
}

.shape
{
    width: 21px;
    height: 21px;
    border-radius: 11px 10px 10px 11px/11px 11px 10px 10px;
    background-color: #f10000;
    background-image: linear-gradient(to top, #206988, #114165 59%, #0c3256);
}

.shape img
{
    width: 15px;
    height: 20px;
    padding-left: 3px;
}

.TopForm
{
    display: flex;
    width: 495px;
    height: 26px;
    margin: -5px 14px;
    border-radius: 4px/3px;
    background-color: #b1bcc0;
    background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
    box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
}

.TopForm img
{
    height: 18px;
    margin: 5px;
}

.TopForm input
{
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 11px;
    width: 108px;
    height: 13px;
    margin: 4px 5px 5px 0;
    padding-left: 5px;
    border: solid 1px #9ba1a3;
    border-radius: 2px;
    background-color: #fff;
}

.avtorization
{
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 11px;
    margin-top: 8px;
    margin-left: 3px;
    letter-spacing: -.3px;
    color: #fff;
}

.avtorization a
{
    color: #fff;
}

.forgotpass
{
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 13px;
    margin: 8px 0 0 22px;
    letter-spacing: -.6px;
    color: #fff;
}

.mainnav
{
    width: 75px;
    height: 19px;
    margin-top: -3px;
    border: solid 1px #bdc4c7;
    border-radius: 10px/10px 10px 9px 9px;
    background-color: #fff;
}

.mainnav a
{
    margin: 0 -4px 0 9px;
}

.logo
{
    margin: -12px 45px;
}

section header
{
    width: 910px;
    height: 32px;
    margin: 15px 44px;
    border: solid 1px #0d1642;
    border-radius: 5px/3px 3px 2px 2px;
    background-color: #fff;
    background-image: linear-gradient(to top, #000, #576068);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
}

.subnav {
    display: flex;
    margin-left: 130px;
}

.subnav a {
    padding: 7px 15px;
    margin: 3px 0;
    text-decoration: none;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.subnav a:nth-child(2) {
    margin-left: 2px;
}

.subnav a:nth-child(4) {
    margin-left: -2px;
}

.subnav a:last-child {
    margin-left: -6px;
}

.subnav a:hover {
    border-radius: 12px/13px;
    background-color: #f60303;
    background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}

.basket {
    margin-left: 55px;
    margin-top: 7px;
    height: 18px;
}

.prod,
.price {
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 10px 5px;
    letter-spacing: .9px;
    color: #fff;
}

.price {
    margin-left: 3px;
    letter-spacing: 0.4px;
}

.numeric {
    color: #0d5a8f;
}

.search {
    display: flex;
    justify-content: space-around;
    margin: -3px 43px;
}

.avto {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 413px;
    height: 132px;
    border-radius: 18px 17px 17px 18px/17px;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(104,104,104,.75), inset 1px 1px 5px rgba(0,0,0,.75);
    border: solid 1px #9c9c9d;
}

.avto h2 {
    position: absolute;
    top: 1px;
    text-align: center;
    margin-left: -4px;
    font-family: Arial, sans-serif;
    color: #154467;
    font-weight: 800;
    font-size: 9pt;
    letter-spacing: .3px;
}

.avto button,
.tire button,
.wheel button {
    font-family: Arial, sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: #154467;
    font-size: 14px;
    border: 0;
    background: none;
}

.avto button {
    position: absolute;
    bottom: 7px;
    right: 16px;
}
.tire button,
.wheel button {
    position: absolute;
    bottom: 9px;
    right: 13px;
}

.title1 {
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 9px;
    font-weight: 800;
    top: 6px;
    left: 19px;
    letter-spacing: 1px;
    color: #154467;
}

.title2 {
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 9px;
    font-weight: 800;
    top: 4px;
    right: 21px;
    letter-spacing: 1px;
    color: #154467;
}

.searchlist1 {
    height: 80%;
    width: 53%;
    display: flex;
    justify-content: space-around;
}

.wider {
    margin-left: -1px;
    margin-top: -2px;
}

#rightlist {
    margin-left: -15px;
}

[name="avtomark"],
[name="avtomodel"],
[name="equipment"] {
    width: 101px;
    height: 17px;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
}

[name="avtoyear"] {
    width: 57px;
    height: 17px;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
}

.searchtitle {
    margin-top: 32px;
    margin-left: 8px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    letter-spacing: -.5px;
    font-weight: 600;
}

.row {
    margin: -5px -4px -1px -4px;
    display: block;
}

.small {
    color: #77858b;
}

.searchlists {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 19px;
    margin-left: -11px;
}

.tire {
    position: relative;
    width: 191px;
    border-radius: 17px/19px;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(150,150,150,.75), inset 1px 1px 5px rgba(0,0,0,.75);
    border: solid 1px #9c9c9d;
}

.tire h2,
.wheel h2 {
    position: absolute;
    top: 2px;
    margin-left: 10px;
    font-family: Arial, sans-serif;
    color: #154467;
    font-weight: 800;
    font-size: 9pt;
    letter-spacing: .3px;
}

.size {
    display: flex;
    margin-top: 21px;
    margin-left: 14px;
}

.size span {
    margin-top: 10px;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 10px;
    letter-spacing: -.1px;
}

[name="size1"],
[name="size2"] {
    width: 51px;
    height: 17px;
    margin-top: 1px;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
}

[name="size1"] {
    margin-left: 8px;
}

.size .slash {
    margin: 5px 6px 0 6px;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.radius {
    display: flex;
    margin-top: 5px;
}

.radius span {
    font-size: 10px;
    font-family: Arial, sans-serif;
    margin: 6px 7px 0 46px;
}

[name="radius"] {
    width: 45px;
    height: 17px;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.75);
}

.season span {
    font-size: 11px;
    font-family: Arial, sans-serif;
    margin-left: 15px;
}

.season label {
    display: block;
    height: 14px;
    font-size: 14px;
}

.wheel {
    position: relative;
    width: 266px;
    height: 134px;
    margin-left: -2px;
    border-radius: 14px/18px 18px 17px 17px;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(150,150,150,.75), inset 1px 1px 5px rgba(0,0,0,.75);
    border: solid 1px #9c9c9d;
}

.checkbox {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wheel_leftblock,
.wheel_rightblock {
    display: inline-block;
}

.wheel_leftblock {
    width: 64%;
    vertical-align: top;
    margin-top: 20px;
}

.wheel_searchtitle {
    display: inline-block;
    width: 59%;
}

.wheel_searchlists {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.wheel_search_title {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin: 3px 0 0 14px;
    letter-spacing: .6px;
    font-weight: 600;
}

.wheel_search_title:nth-child(2) {
    margin-top: 7px;
    margin-bottom: -3px;
}

.wheel_searchlists select {
    margin-bottom: 14px;
}

[name="wheel_diametr"],
[name="holes_diametr"] {
    width: 57px;
    height: 17px;
}

[name="holes_number"] {
    width: 50px;
    height: 17px;
}

.wheel_vline {
    display: inline-block;
    width: 0px;
    height: 120px;
    border-right: solid 1px #000;
}

.wheel_rightblock {
    width: 30%;
    vertical-align: top;
}

.catalog {
    display: inline-block;
    float: left;
    margin: 20px 0 0 44px;
}

.brands {
    display: inline-block;
    float: right;
    margin: 19px 46px 0 0;
}

.products {
    width: 181px;
    height: 25px;
    margin-bottom: 13px;
    border-radius: 12px/12px 12px 13px 13px;
    background-color: #fff;
    box-shadow: 2px 3px 3px rgba(150,150,150,.75);
    border: solid 1px #79878d
}

.products_icon {
    width: 20px;
    height: 20px;
    margin: 2px 0 0 3px;
    border-radius: 10px;
    background-color: #e20202;
    background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256)
}

.products_icon img {
    margin: 3px 0 0 5px;
}

.oval {
    width: 148px;
    height: 26px;
    margin-left: 2px;
    border-radius: 11px/13px;
    background-color: #fff;
    border: solid 1px #79878d;
}

.blue_circle {
    position: relative;
    width: 22px;
    height: 22px;
    margin: 2px 2px 0 4px;
    border-radius: 11px;
    background-color: #114165;
}

.white_circle {
    position: absolute;
    top: 6px;
    margin-left: 5px;
    width: 12px;
    height: 11px;
    border-radius: 6px/6px 6px 5px 5px;
    background-color: #fff;
}

.catalog_denomination {
    margin: 6px 0 0 37px;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}

.catalog_denomination li {
    display: block;
    box-sizing: border-box;
    height: 16px;
    margin-bottom: 10px;
    font-size: 13px;
    padding-bottom: 13px;
    color: #465961;
}

.catalog_denomination li:last-child,
.brands_denomination li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.catalog_denomination li:hover,
.brands_denomination li:hover {
    font-family: Arial, sans-serif;
    color: #0c3256;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
}

.catalog_denomination li:before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 4px;
    margin-right: 2px;
    border-radius: 100%;
    background-color: #fff;
    border: solid 2px #79878d;
}

.catalog_denomination li:hover:before {
    border: solid 2px #313a55;
}

.catalog_wheels {

}

.brands_denomination {
    margin: 4px 0 16px 21px;
}

.brands_denomination li {
    display: block;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    height: 16px;
    margin-bottom: 9px;
    font-size: 13px;
    padding-bottom: 13px;
    color: #465961;
}

.brands_tires,
.brands_wheels {
    width: 134px;
    margin-left: 15px;
}

.brands_denomination [type="checkbox"] {
    margin-right: 10px;
}

.brands button {
    width: 80px;
    height: 26px;
    box-sizing: border-box;
    margin: 8px 0 0 25px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px/11px;
    background-color: #000;
    border: solid 1px #a7abae;
    box-shadow: 2px 3px 3px rgba(150,150,150,.75);
    background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}

/*.brands_denomination li:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
    border: solid 1px #114165;
}*/